<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose Quizify's Service</h1>

        <div class="options">
            <div class="option">
                <a href="/docs2Quiz">
                    <button class="option-button">Docs 2 Quiz</button>
                </a>
            </div>
            <div class="option">
                <button class="option-button">Placeholder</button>
            </div>
        </div>
    </div>
</body>
</html>
