{% extends "base.html" %}

{% block headerr %}
<title>Quiz Options</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_options_style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Quiz Options</h1>
        <form action="{{ url_for('take_quiz') }}" method="post" >
            <button type="submit" name="choice" value="take-quiz">Take Quiz</button>
        </form>
        <form action="{{ url_for('export_google_form') }}" method="post">
            <button type="submit" name="choice" value="export-google-form">Export to Google Form</button>
        </form>
    </div>
{% endblock %}
