{% extends "base.html" %}

{% block headerr %}
  <title>Docs2Quiz - Review Questions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/review_questions_style.css') }}">
{% endblock %}

{% block content %}
  <h1>Docs2Quiz - Review Questions</h1>

  {% if quiz %}
    <div class="container">
      <div class="left" id="review-container">
        {% for question in quiz.questions %}
          <h3>Question {{ loop.index }}: {{ question.question }}</h3>
          <ul>
            {% for choice in question.choices %}
              <li>{{ choice }}{% if choice == question.answer %}  (Correct Answer){% endif %}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="right">
        <form action="{{ url_for('export_google_form') }}" method="post">
          <button type="submit" name="choice" value="export-google-form">Export to Google Form</button>
        </form>
      </div>
    </div>
  {% else %}
    <p>No quiz data available.</p>
  {% endif %}

{% endblock %}
